/*

File: main.css
Author: Lucas Mathis
Last Edit: 06/14/2016

*/


/* Main CSS Styles */


@font-face { 
    font-family: yuGotchicLight;
    src: url(./fonts/yugothil.tff);
}

* {
    background-color: #EEFFFF;
    color: black;
    font-family: yuGotchicLight;
    letter-spacing: 3px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #EEFFFF;
}

/* Navigation Styles */
.navbar {
    border-radius: 0px;
    min-height: 120px;
    background-color: #EEFFFF;
    padding: 0;
    margin: 0;
    color: #000;
}

.nav {
    margin: 2% 4% 0 0;
}

#navList {
    margin: 70px 80px 0 0;
    color: #000;
}

#mainLogo {
    margin: 20% 0 0 20%;
    border: 2px solid black;
}

.activeL {
    font-weight: bolder;
}

#bottomPage {
    padding: 2% 4%;
}

.socIcons a:hover {
    text-decoration: none;
}

/* Home Page (body) */

#myNameDiv {
    margin-top: 10%;
}

#myName {
    margin: 0 0 0 0;
}

#introPar {
   font-size: 160%;
    margin: 2% auto 0 auto;
    max-width: 640px;
}

.topRow {
    margin: 6% 0 0 0;
}

.portImgDiv p{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    font-size: 165%;
    padding: 12% 4% 0;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
    line-height: 46px;
}

.portImgDiv p:hover {
    position: absolute;
    opacity: 1.0;
    cursor: pointer;
}

.portImgDiv {
    padding: 0;
    margin: 0;
}

.portImgDiv img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; 
}

#viewMoreDiv {
    margin: 6% 0 4% 0;
}

#viewMoreDiv a {
    color: #000;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 12px;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
}

#viewMoreDiv a:hover {
    text-decoration: none;
    /*color: #88ACFE; */
    border: 2px solid #FFD37B;
}

/* Pop-up Project Modals */
.modal {
    max-width: 96%;
}

#modalContents1 h4 {
    font-weight: bolder;
}

.customBdy h5 {
    letter-spacing: 0.5;
    margin-top: 4%;
    font-size: 120%;
}

.customBdy h5 a {
    color: #000;
    text-decoration: underline;
}

.customFtr {

}

.customBtn {
    color: black;
    transiton: 10s;
}

.customBtn:hover {
    font-weight: bolder;
    background-color: #fff;
    border: 1px solid #000;
}

/* About Page */

#aboutHeader {
    margin-top: 6%;
}

#mySpecialty {
    font-style: italic;
}

#aboutMeDiv {
    padding: 0 6%;
}

#tooboxDiv {
    max-width: 460px;
    font-size: 100%;
}

#tooboxDiv div {
    text-align: left;
}

#skillsDiv {
    max-width: 460px;
    font-size: 120%;
}

#skillsDiv h4 {
    text-align: center;
    margin: 36% 0 0 0;
}

#skillsDiv ul {
    list-style-type: none;
}


#skillsetCol1 {
    text-align: left;
}

#skillsetCol2 {
    text-align: left;
}

/* Works Page Styles */
#worksHeader {
    margin-top: 6%;
}

/* Contact Page Styles */

.contactLeftSide {
    margin-top: 4%;
    max-width: 96%;
}

.contactLeftSide p {
    max-width: 80%;
    margin: 4% auto;
    font-size: 170%;
}

#availabilityP {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 4px;
}

#contactHeader {
    margin: 10% 0 4% 0;
}

#rightSideContact {
    margin: 12% auto 0 auto;
    text-align: justify;
    max-width: 96%;
}

#rightSideContact input{
    width: 80%;
}

input {
    transition: box-shadow 0.5s ease !important;
}

textarea {
    padding-left: 10px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea:focus, .form-control:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#formSubmitButton {
    max-width: 20%;
    min-width: 80px;
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #ccc;
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: 4px;
    padding: 2% 0;
    font-size: 120%;
    transition: background-color 0.5s ease;
}

#formSubmitButton:hover {
    color: #6496c8;
    background-color: #fff;
    border: 1px solid #ccc;
}